body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.calculator-container {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 350px;
    height: 450px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.display {
    background-color: #e2e2e2;
    color: #111010;
    height: 45px;
    font-size: 2em;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
    text-align: right;
}

.buttons-container {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.row {
    display: flex;
    flex: 1;
    margin-bottom: 10px;
}

button{
    flex: 1;
}