body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.calculator-container {
    background-color: #e4e3e3;
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 350px;
    height: 450px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.display {
    background-color: #ffffff;
    color: #111010;
    height: 45px;
    font-size: 2em;
    padding: 10px;
    border-radius: 5px;
    border: solid 1px #ccc;
    margin-bottom: 20px;
    text-align: right;
}

.buttons-container {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.row {
    display: flex;
    flex: 1;
    margin-bottom: 10px;
    gap: 8px;
}

button{
    flex: 1;
    border: none;
    background-color: #f0f0f0;
    color: #333;
    font-size: 1.5em;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button.operator {
    background-color: #FFAA33;
    color: rgb(0, 0, 0);
}
button.operator:hover {
    background-color: #0f0f0f;
    color: white;
}
